{% extends 'Spartacus/base.html' %}
{% load staticfiles %}

{% block title %}Avatar{% endblock %}
    
{% block body_block %}


    <p><img  src="{{ MEDIA_URL }}{{ avatar.picture }}" alt = "{{ avatar.user.username }}" width = "300" height = "300"/><br /><p />
    Name: {{ avatar.user.username }}<br />
    Attack: {{ avatar.attack }}<br />
    Defence: {{ avatar.deffence }}<br />
    Strength: {{ avatar.strength }}<br />
    Agility: {{ avatar.agility }}<br />
    Intelligence: {{ avatar.intelligence }}<br />
    Victories: {{ avatar.victories }}<br />
    Points: {{ avatar.points }}<br />
    <br />
    <div id="all_items">
        Inventory:<br />
        <ul>
        {% for item in inventory_items %}
            <li>
                {{ item.item.name }} : {{ item.item.attack }} attack , {{ item.item.deffence }} defence
                    {% if avatar.user == user %}
                        <button class="equip" data-itemid="{{item.id}}" type="button">Equip</button>
                    {% endif %}
            </li>
        {% endfor %}
        </ul>
        <br />

        Equiped:<br />
        <ul>
        {% for item in equiped_items %}
               <li>
                    {% if item.item.itemType == "sword"%}
                        Sword : {{ item.item.name }} : {{ item.item.attack }} attack , {{ item.item.deffence }} defence
                    {% elif item.item.itemType == "armor"%}
                        Armor : {{ item.item.name }} : {{ item.item.attack }} attack , {{ item.item.deffence }} defence
                    {% elif item.item.itemType == "shield"%}
                        Shield : {{ item.item.name }} : {{ item.item.attack }} attack , {{ item.item.deffence }} defence
                    {% endif %}

                    {% if avatar.user == user %}
                           <button class="unequip" data-itemid="{{item.id}}" type="button">Unequip</button>
                    {% endif %}
               </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
