<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Spartacus - {% block title %}For Glory{% endblock %}</title>
    </head>
    
    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>   
        <hr />
        <div>
          <ul>
            <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'avatar_view' user.username %}">My Avatar</a></li>
                <li><a href="{% url 'arena' %}">Arena</a></li>
                <li><a href="{% url 'market' %}">Market</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/Spartacus/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </body>  
</html>