<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <title>Spartacus - {% block title %}For Glory{% endblock %}</title>
		
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/styles.css" %}" rel="stylesheet">
		<link href="{% static "css/mystyles.css" %}" rel="stylesheet">
		
		
		
    </head>
    
    <body>
                    <div class="col-md-12 col-sm-12 col-xs-12" class="img-responsive" alt="Responsive image"
                         style="background:red;color:white; background:url('{% static 'images/index.jpg' %}') no-repeat   center center fixed;
                         -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;">
                    {% block body_block %}{% endblock %}


        <hr />
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="{% url 'index' %}">Spartacus</a>
				</div>
				<div class="navbar-collapse collapse">
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'avatar_view' user.username %}">My Avatar</a></li>
						<li><a href="{% url 'arena' %}">Arena</a></li>
						<li><a href="{% url 'market' %}">Market</a></li>
						<li><a href="{% url 'questing' %}">Quests</a></li>
						<li><a href="{% url 'auth_logout' %}?next=/Spartacus/">Logout</a></li>
					{% else %}
						<li><a href="{% url 'registration_register' %}">Register</a></li>
						<li><a href="{% url 'auth_login' %}">Login</a></li>
					{% endif %}
					</ul>
				</div>
			</div>
        </div>
    </div>
    <!-- Javascript, JQuery, Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/ajax.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    </body>  
</html>