{% extends 'Spartacus/base.html' %}
{% load staticfiles %}

{% block title %}Battle{% endblock %}
    
{% block body_block %}
Battle<br />

{{you.user.username}} vs {{opponent.user.username}}<br />

{% if victory == 1 %}
    You won
{% elif victory == -1 %}
    You lost
{% else %}
    Tie fight
{% endif %}





    <div class="col-xs-4 col-xs-offset-4">
        {% for round in rounds %}
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Round {{ round.roundN }}</div>
            <div class="panel-body">
            <p>...</p>
        </div>

        <!-- Table -->
        <table class="table">
           # <tr><th  data-placement="left">Name:</th><td>{{ round['youDamage'] }}</td></tr>
            <tr></tr>
        </table>
    </div>
        {% endfor %}
    </div>

{% endblock %}


