{% extends 'Spartacus/base.html' %}
{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}
    
{% block body_block %}

<style>
table{
    counter-reset: rowNumber;
}

#rank{
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
	}

</style>

<div class="container">
	<div class="row" id="split">
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<table class="table">
						<th style="text-align: center">Rankings</th>
					</table>
				</div>
			</div>
			<table class="table">
				
				<th>Position</th>
				<th>Name</th>
				<th>Points</th>
				{% for avatar in avatars %}
					<tr id="rank">
					<td></td>
					<td><a href="{% url 'avatar_view' avatar.user.username %}">{{ avatar.user.username}} </a></td>
					<td>{{avatar.points}}</td>
					</tr>
				{% endfor %}
				
			</table>
			
		</div>
	</div>
</div>


{% endblock %}

{% block gold %}
{% if user.is_authenticated %}
   {{ user.avatar.cash }} <img  src="{% static 'images/gold.jpg' %}" width = "20" height = "20"/>
{% endif %}
{% endblock %}