{% extends 'Spartacus/base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% load Spartacus_extras %}

{% block title %}Market{% endblock %}

{% block body_block %}

    <div class="container">
		<div class="row" id="split">
		</div>
        <div class="row">

            <div class="col-xs-12 col-md-6 col-lg-4">

                <br/><br/>
                <table class="table" style=" table-layout: auto">
                    <th>Name:</th>
                    <th>Picture:</th>
                    <th>Gold:</th>
                    <th>Buy:</th>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.name }} <br/>Attack: {{ item.attack }} <br/>Defence: {{ item.deffence }}</td>
                            <td><img src = "{{item.picture.url}}" width = "100" height = "100"></td>
                            <td>{{ item.price }} gold</td>
                            <td>
                                <form method="post" action="{% url 'market' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.name }}" name = "item">
                                    <input type="submit" value="Buy" name = "Submit">
                                </form></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
			<div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1">
                <div id="all_items_market">
                    {% get_market_items %}
                </div>
			</div>
        </div>
    </div>

{% endblock %}

{% block gold %}
{% if user.is_authenticated %}
   {{ user.avatar.cash }} <img  src="{% static 'images/gold.jpg' %}" width = "20" height = "20"/>
{% endif %}
{% endblock %}