{% extends 'Spartacus/base.html' %}
{% load staticfiles %}

{% block title %}Market{% endblock %}
    
{% block body_block %}
    {% if bought == "Insufficient cash" %}
        You don`t have enough money.
    {% elif bought %}
        You successfully bought {{ bought}}.
    {% endif %}
    <ul>
    {% for item in items %}
        <li>{{ item.name }}  {{ item.price }} gold</a><br/>

            <form method="post" action="{% url 'market' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ item.name }}" name = "item">
                <input type="submit" value="Buy" name = "Submit">
            </form>
        <img src = "{{item.picture.url}}" width = "200" height = "200"><br />
        </li>
    {% endfor %}
    </ul>
{% endblock %}