{% load staticfiles %}

/* most table layout is fixed and  information is hidden if size is too small*/
/* of some tables need other settings id's were used to change them*/

table{
	table-layout: fixed;
}
table,th, td, tr{
	background-color: #424242;
	color: black;
	border: 1px solid black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
		
}

td#battle {
	text-align: center;
	white-space: initial; 
	overflow: initial;
	text-overflow: initial;
	
}

/* button and input styles*/
button {
	border: 1px solid black;
	background-color: gray;
	color: white;
}
input {
	border: 1px solid black;
	background-color: gray;
	color: white;
	
}

/* div styles, most dives have diferent styles for different templates*/

div.div1 { 
width:600px; height:300px;

}
div.div2 {
width:700px; height:250px; margin:10px 250px; opacity:0.8; filter:alpha(opacity=40); 

}

/* used to style the layout of avatar and market templates to give distance between objects*/
div#split{
	height: 25px;

}

/* div used for transparent black background*/
div.container {
    background: rgba(15,15,15, 0.8)!important;
}
/* div allowing for all the information to be shown in the battle tables without being hidden*/
/* if the size of the table is too small */
div#battle {
	text-align: center;
	white-space: initial; 
	overflow: hidden;
	text-overflow: hidden;
	
}

/* background image settings*/
.wrapper{background: url("/images/index.jpg") no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
